/* There's some sample CSS here which you can use or nuke as you like */

html {
  /* Make #id links scroll smoothly */
  scroll-behavior: smooth;
}
.Cursor {
    pointer-events: none;
    position: fixed;
    display: block;
    border-radius: 0;
    transform-origin: center center;
    mix-blend-mode: difference;
    top: 0;
    left: 0;
    z-index: 1000;
    filter: url("#goo");
}

.Cursor span {
    position: absolute;
    display: block;
    width: 26px;
    height: 26px;
    border-radius: 20px;
   background: linear-gradient(to right, #494747, #a19f9f); 
    transform-origin: center center;
    transform: translate(-50%, -50%);
}


body {
  /* Change to something you like, but please do customize the font! */
  font-family: Roboto, "Helvetica Neue", sans-serif;
  line-height: 1.4;
  /* reset default margins */
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.hero {
  box-sizing: border-box;
  /* Full screen hero section */
  width: 100%;
  height: 100dvh;
  /* Center the content vertically and horizontally */
  display: grid;
  place-content: center;
  /* Gradient background like in app.css */
  background: linear-gradient(to right, #494747, #a19f9f); 
  color: rgb(0, 0, 0);
  font-family: Futura;
  font-weight: bold;
  font-size: 70px;
  text-align: center;
}

.hero a {
  color: rgb(0, 0, 0);
  text-decoration: underline;
  text-decoration-color: #221b1d;
}




main {
  /* Make sure our content can scroll the hero away */
  min-height: 100dvh;
  max-width: em; /* choose a width for text */
  line-height: 1.8; /* choose a line spacing */
  font-size: 18px; /* choose a font size */
  margin: 0 auto; /* center the content */
text-align: center;
 background-image: url(background.svg);
}
